@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Quicksand:wght@400;600&display=swap');

/* Fonts */

$title-font: "Poppins", sans-serif;
$body-font: "Quicksand", sans-serif;

/* Colors */

$black: #231F20;
$white: #EAE2B7;
$teal: #2A9D8F;
$red: #D62828;
$yellow: #FCBF49;