@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

/* Fonts */

$title-font: "Poppins", sans-serif;
$body-font: "Quicksand", sans-serif;

/* Colors */

$black: #231f20;
$white: #eae2b7;
$teal: #2a9d8f;
$red: #d62828;
$yellow: #fcbf49;
