.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: $yellow;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-weight: 500;

  &:active {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
  }
}

input[type="text"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 2px rgba($black, 0.25);
  padding: 0.25rem;

  &::placeholder {
    color: rgba($black, 0.5);
  }

  &:focus {
    border-bottom: solid 2px $black;
  }
}
