.site-header {
  width: 100%;
  min-height: 80px;
  padding: 0 2rem;
  background-color: $teal;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.site-nav {
  width: 100%;
  text-align: center;

  .nav-link {
    text-decoration: none;
    font-family: $title-font;
    font-size: 1.25em;
    position: relative;
    padding: 0 1rem;
    text-align: center;

    + .nav-link {
      margin-left: 2rem;
    }

    &::before {
      content: "";
      border-radius: 8px;
      background-color: $yellow;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      transition: width 0.2s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}