.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;

  h1 {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1;

    &::before {
      content: "";
      display: block;
      width: 1em;
      height: 8px;
      background-color: $black;
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 2rem 0;
  }

  .cta {
    padding: 1rem;
    border-radius: 30px;
    background-color: white;
    display: flex;
    position: relative;

    input {
      border: none;
      font-size: 1rem;
      line-height: 1;
      padding: 0 0.5rem;
      flex-grow: 1;
    }

    .btn {
      margin: -0.5rem;
    }
  }
}