@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
  color: $black;
}

html,
body {
  height: 100%;
}

body {
  background-color: $white;
  display: flex;
  flex-flow: column;
}

h1,
h2,
h3 {
  font-family: $title-font;
}

@import "./components";
@import "./header";
@import "./landing";
@import "./auth";
