<section class="dashboard">
  <h1>Stats</h1>
  <div class="cards">
    <div class="card">
      <div class="card__title">Previous Best</div>
      <div class="card__stat"><span id="prev_best">60</span> Days</div>
    </div>
    <div class="card">
      <div class="card__title">Current Streak</div>
      <div class="card__stat"><span id="cur_streak">16</span> Days</div>
    </div>
    <div class="card">
      <div class="card__title">Challenges Completed</div>
      <div class="card__stat"><span id="challenges">5</span></div>
    </div>
    <div class="card">
      <div class="card__title">Level</div>
      <div class="card__stat"><span id="level">10</span></div>
    </div>
  </div>
  <div class="progress-bar">
    <span class="progress"></span>
  </div>
  <div class="btn-container">
    <a href="#" class="btn">I Did My Task!</a>
    <a href="/rewards">View Rewards</a>
  </div>
</section>