<section class="explore">
  <h1>Leaderboard</h1>

  <ul class="leaderboard-list">
    <li class="header">
      <span>Rank</span>
      <span class="user__name">Name</span>
      <a href="?sort=1" class="user__current {{#unless highestSort}}active{{/unless}}">Current Streak</a>
      <a href="?sort=0" class="user__highest {{#if highestSort}}active{{/if}}">Highest Streak</a>
    </li>
    {{{generateLeaderboard leaderboard}}}
  </ul>
</section>