<section class="interact">
  <button onclick="alert('You fed your pet!')" class="btn">Feed</button>
  <button onclick="alert('You pet your pet!')" class="btn">Pet</button>
  <button onclick="alert('You washed your pet!')" class="btn">Wash</button>
  <button onclick="alert('Your walked your pet!')" class="btn">Walk</button>
</section>