<section class="landing">
  <div class="left">
    <h1>Get motivated to be a better version of yourself</h1>
    <p>
      You’re more than just a photo. You have stories to tell, and passions to
      share, and things to talk about that are more interesting than the weather.
      Because you deserve what dating deserves: better.
    </p>
    <div class="cta">
      <span class="material-icons-outlined">mail</span>
      <input type="text" placeholder="Enter your email">
      <a href="/login" class="btn">Get Started</a>
    </div>
  </div>
  <div class="right"></div>
</section>