<section class="landing">
  <div class="left">
    <h1>Get motivated to be a better version of yourself</h1>
    <p>
      You’re more than just a photo. You have stories to tell, and passions to
      share, and things to talk about that are more interesting than the weather.
      Because you deserve what dating deserves: better.
    </p>
    <form action="/login" class="cta">
      <span class="material-icons-outlined">mail</span>
      <input name="email" type="text" placeholder="Enter your email">
      <button class="btn">Get Started</button>
    </form>
    <ul class="stats">
      <li>
        <h3>20K+</h3>
        <span>test test</span>
      </li>
      <li>
        <h3>1,456</h3>
        <span>Animals saved by<br>your motivation</span>
      </li>
      <li>
        <h3>1M+</h3>
        <span>Go-getters like<br>you world-wide</span>
      </li>
    </ul>
  </div>
  <div class="right">
    <img src="/assets/landing.jpg" alt="Corgi">
  </div>
</section>