<div class="login">
  <h1>Enter Your Info</h1>
  <form method="post" action="/login" id="loginForm">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    {{#if errorMsg}}
        <div class="alert alert-danger"><strong>Error:</strong> {{errorMsg}}</div>
    {{/if}}
    <button class="btn">Login</button>

    <p>Don't have an Account? <a href="/register">Create one here!</a></p>
  </form>
</div>