<div class="login">
  <h1>Enter Your Info</h1>
  <form action="" id="registerForm">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">

    <p>Don't have an Account? <a href="/register">Create one here!</a></p>
  </form>
</div>