<form method="post" action="/register" id="registerForm" class="register">
  <section id="1">
    <div class="progress">
      <h2>Step 1/3</h2>
    </div>
    <h1>Enter Your Info</h1>
    <div class="form-wrapper">
      <input type="text" name="f_name" placeholder="First Name">
      <input type="text" name="l_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
    </div>
    <a href="#2" class="next material-icons">chevron_right</a>
  </section>
  <section id="2">
    <a href="#1" class="prev material-icons">chevron_left</a>
    <div class="progress">
      <h2>Step 2/3</h2>
    </div>
    <h1>Which Animal Would You Like to Raise?</h1>
    <div class="selection">
      <a href="#3" class="btn btn-card">
        <img src="/assets/fish.png" alt="Fish">
        Fish
      </a>
      <a href="#3" class="btn btn-card">
        <img src="/assets/dog.png" alt="Dog">
        Dog
      </a>
      <a href="#3" class="btn btn-card">
        <img src="/assets/cat.png" alt="Cat">
        Cat
      </a>
      <a href="#3" class="btn btn-card">
        <img src="/assets/bug.png" alt="Bug">
        Bug
      </a>
    </div>
    <a href="#3" class="next material-icons">chevron_right</a>
  </section>
  <section id="3">
    <a href="#2" class="prev material-icons">chevron_left</a>
    <div class="progress">
      <h2>Step 3/3</h2>
    </div>
    <h1>What Activity Do You Need Motivation For?</h1>
    <div class="selection">
      <a href="#done" class="btn btn-card">
        <img src="/assets/workout.png" alt="Workout">
        Workout
      </a>
      <a href="#done" class="btn btn-card">
        <img src="/assets/study.png" alt="Studying">
        Studying
      </a>
    </div>
    <a href="#done" class="next material-icons">chevron_right</a>
  </section>
  <section id="done">
    <a href="#3" class="prev material-icons">chevron_left</a>
    <div class="progress">
      <h2>Complete</h2>
    </div>
    <h1>Let's Do It!</h1>
    <button class="btn">Sign Up!</button>
  </section>
</form>