<section class="rewards">
  <h1>Still Not Convinced? Here's the Impact You'll Make!</h1>
  <div class="display">
    <div class="btn">
      <h4>Every 10 Levels...</h4>
      <img src="/assets/treat.png" alt="Treat">
      <p>A real animal at your local shelter will be given a bag of treats!</p>
    </div>
    <div class="btn">
      <h4>Every 50 Levels...</h4>
      <img src="/assets/bed.png" alt="Bed">
      <p>A real animal at your local shelter will be given an upgraded bed!</p>
    </div>
    <div class="btn">
      <h4>Every 100 Levels...</h4>
      <img src="/assets/discount.png" alt="Discount">
      <p>You'll get a discount to adopt a pet at your local shelter!</p>
    </div>
  </div>
</section>