<section class="settings">
  <h1>User Settings</h1>
  <div class="form-wrapper">
    <input type="text" name="f_name" placeholder="First Name" value="{{user.fname}}">
    <input type="text" name="l_name" placeholder="Last Name" value="{{user.lname}}">
    <input type="text" name="email" placeholder="Email" value="{{user.email}}">
    <input type="password" name="password" placeholder="Password" value="{{user.password}}">
  </div>
</section>